<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Login</title>
    <!--llamamos a la hoja de estilo-->
    <link rel="stylesheet" href="../../static/Css/Login.css">
</head>
<body>
    <main>
        <section class="S_Formulario">
            <h2>Formulario de Registro</h2>
            <label>Usuario:</label><br>
            <input class ="controls"type="text" name="n_Usuario" value="" placeholder="Nombre De Usuario" required><br>
            <label>Contraseña:</label><br>
            <input class ="controls"type="password" name ="c_Usuario" value="" placeholder="Ingrese su contraseña" required><br>
            <input class="buttons"type="submit" name="i_Usuario" value="Ingresar">
            <p><a href="#">¿Olvidaste tu Contraseña?</a></p>
        </section>
    </main>
    <script src="../Js/Login.Js"></script>
</body>
</html>